# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: windows-latest, r: 'release'}
          - {os: macOS-latest, r: 'release'}
          - {os: ['self-hosted', 'm1'], r: 'release', disable_mps: 'TRUE'}
          - {os: ubuntu-20.04, r: 'release', rspm: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"}
          - {os: ubuntu-20.04, r: 'devel', rspm: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      TORCH_INSTALL: 1
      TORCH_TEST: 1
      PYTORCH_ENABLE_MPS_FALLBACK: 1
      LUZ_DISABLE_MPS: ${{ matrix.config.disable_mps|| 'FALSE' }}

    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@v2
        if: ${{ !contains(matrix.config.os, 'm1') }}
        with:
          r-version: ${{ matrix.config.r }}

      - uses: r-lib/actions/setup-pandoc@v2
        if: ${{ !contains(matrix.config.os, 'm1') }}

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache: false
          extra-packages: any::rcmdcheck
          needs: check

      - run: |
          print(torch::torch_is_installed())
          print(torch::backends_mps_is_available())
        shell: Rscript {0}

      - uses: r-lib/actions/check-r-package@v2
        with:
          error-on: '"error"'
          args: 'c("--no-multiarch", "--no-manual", "--as-cran")'

  GPU:
    runs-on: ['self-hosted', 'gpu-local']
    name: 'gpu'
    container: {image: 'nvidia/cuda:12.4.1-cudnn-devel-ubuntu20.04', options: '--gpus all --runtime=nvidia'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: 'https://packagemanager.rstudio.com/cran/__linux__/bionic/latest'
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      TORCH_INSTALL: 1
      TORCH_TEST: 1
      DEBIAN_FRONTEND: 'noninteractive'

    steps:
      - uses: actions/checkout@v2

      - run: |
          apt-get update -y
          apt-get install -y sudo software-properties-common dialog apt-utils tzdata libpng-dev

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache: false
          extra-packages: any::rcmdcheck
          needs: check

      - uses: r-lib/actions/check-r-package@v2
        with:
          error-on: '"error"'
          args: 'c("--no-multiarch", "--no-manual", "--as-cran")'
