on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

name: test-coverage

jobs:
  test-coverage:

    runs-on: ['self-hosted', 'gpu-local']

    container:
      image: nvidia/cuda:12.4.1-cudnn-devel-ubuntu20.04
      options: --gpus all

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      TORCH_INSTALL: 1
      TORCH_TEST: 1
      DEBIAN_FRONTEND: 'noninteractive'

    steps:
      - uses: actions/checkout@v2

      - run: |
          apt-get update -y
          apt-get install -y sudo software-properties-common dialog apt-utils tzdata

      - uses: r-lib/actions/setup-r@v2

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          cache: false
          extra-packages: any::rcmdcheck
          needs: check

      - name: Test coverage
        run: covr::codecov()
        shell: Rscript {0}
